.settings-form {
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  input {
    width: 100px;
    padding: 2px 5px;
  }

  .error {
    color: red;
    font-size: 12px;
    text-align: center;
  }
}
