<form [formGroup]="settingsForm" class="settings-form">
  <label>
    Falling Speed:
    <input type="number" formControlName="fallingSpeed">
  </label>

  <label>
    Falling Frequency (ms):
    <input type="number" formControlName="fallingFrequency">
  </label>

  <label>
    Player Speed:
    <input type="number" formControlName="playerSpeed">
  </label>

  <label>
    Game Time (s):
    <input type="number" formControlName="gameTime">
  </label>
  <button type="button" [disabled]="!settingsForm.valid"  (click)="startGame()">Start / Restart Game</button>
  <button type="button" (click)="stopGame()">Stop Game</button>
</form>
<div class="validation-message" *ngIf="!settingsForm.valid">
  Please enter a valid non-negative number.
</div>
